" <%= config['plugin_name'] %>/colors/<%= config['plugin_name'] %>.vim
" Maintainer: <%= config['maintainer'] %>

" This script contains colorschemes for Vim.
" 
" Replace these lines with actual Vimscript code.
