# Vim Plugin: doc

This directory holds more documenation for the Vim Plugin.
This documentation can be stored in a text file, or this README updated with more
information about the plugin for reading on GitHub or a Markdown editor.
