" <%= config['plugin_name'] %>/syntax/<%= config['plugin_name'] %>.vim
" Maintainer: <%= config['maintainer'] %>

" This script holds functions, autocommands and mappings related
" to syntax highlighting, or syntax indenting.
"
" Repalce these lines with actual Vimscript code.
